html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
.hidden{
  display: none;
  /* note the difference between display and visibility... do two different things */
  /* visibility: hidden;
  visibility: visible; */
}
