html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

#messageDiv{
  overflow: scroll;
  width: 500px;
  height: 500px;
}

#chat{
  width: 500px;
  height: 500px;
  margin: 50px auto;
  /* custom border image */
  /* fun tool to make your own: https://maxbittker.github.io/broider/ */

  border-style: solid;
  border-width: 15px;

}
